.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px 0;
}

.heart-video {
  width: 100%;
  max-width: 400px; /* تقدر تكبره أو تصغره حسب تصميمك */
  border-radius: 20px; /* لو عايز تدور الحواف بتاعته */

  mix-blend-mode: multiply;
}
